{% assign current_variant = product.selected_or_first_available_variant %}
{% assign s_type = settings.saleType | default: 'percent' %}
{% assign tran_checkout = 'general.buttons.checkout' | t %}
{% assign tran_update = 'general.buttons.update_cart' | t %}

<script type="application/ld+json">
  {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "{{ product.title | escape }}",
      {% if product.featured_image != nil %}
      "image" : ["https:                             {{ product.featured_image | img_url: '960x960' }}", "https:{{ product.featured_image | img_url: '960x720' }}", "https:{{ product.featured_image | img_url: '960x540' }}"],
      {% endif %}
      "description": "{{ product.description | strip_html | escape }}",
      "brand": {
        "@type": "Brand",
        "name": "{{ product.vendor | escape }}"
      },
      "offers": {
      "@type": "Offer",
      "availability": "{% assign has_available_variant = false %}{% for variant in product.variants %}{% if variant.available %}{% assign has_available_variant = true %}{% endif %}{% endfor %}{% if has_available_variant %}InStock{% else %}OutOfStock{% endif %}",
      "price": "{{ product.price | money_without_currency }}",
      "priceCurrency": "{{ shop.currency }}",
      "url": "{{ shop.url }} {{ product.url }}"
    }
  }
</script>

<div id="buy-popup-{{ product.handle }}" class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 z-50 items-center justify-center buy-popup-custom flex invisible">
  <div class="bg-white p-6 max-w-[760px] w-full mx-4">
    <div class="flex justify-between items-center mb-10">
      <h1 class="text-2xl font-bold">{{ product.title }}</h1>
      <button class="text-2xl closeBuyPopupCustomButton">
        x
      </button>
    </div>

    <div class="bg-[#ECEFF3] container-modal">
      <div class="flex justify-center items-center mb-10">
        {% for image in product.images %}
          <div class="w-[80%]">
            {% render 'image'
              , size: '900x'
              , src: image.src
              , alt: image.alt
              , class: imageClass %}
          </div>
        {% endfor %}
      </div>

      {% comment %} VARIANTS {% endcomment %}

      {% if product.variants.size > 1 %}

        {% assign altSelector = settings.altSelectorList | downcase | split: ',' %}

        {% if altSelector.size or settings.defaultSelector == "swatch" %}

          {% assign colorArray = settings.colorSwatches | downcase | split: ',' %}
          {% assign imageArray = settings.imageSwatches | downcase | split: ',' %}

          {% assign optionIndex = "" %}
          {% for option in product.options %}
            {% assign tempOption = option | downcase %}
            {% if imageArray contains tempOption %}
              {% assign optionIndex = optionIndex | append: forloop.index0 | append: ',' %}
            {% endif %}
          {% endfor %}

          {% assign optionIndex = optionIndex | split: ',' %}

          {% if optionIndex.size %}
            {% assign imageOptions = true %}
            {% assign colorImages = "" %}
          {% endif %}

        {% endif %}

        {% capture vArray %}{ {%- for variant in product.variants -%}{%- if variant.featured_image != nil and imageOptions -%}
        {%- assign img = variant.featured_image | img_url: '100x100' -%}
        {%- for ix in optionIndex -%}
        {%- assign idx = ix | plus: 0 -%}
        {%- assign option = variant.options[idx] | handleize -%}
        {%- assign colorImages = colorImages | append: idx | append: '##'  | append: option | append: '##' | append: img | append: "," -%}
        {%- endfor -%}
        {%-endif-%}"{{variant.id}}": {"sku": {{ variant.sku | json }}, "available": {{variant.available | json}} ,"id": {{variant.id | json}}, "price_raw": {{variant.price}}, "sale_raw": {{variant.compare_at_price | default: false}}, "price": {{variant.price | money | strip_html | json}}, "sale": {{variant.compare_at_price | money | strip_html | json}}, "options": {{variant.options | json }} }{%- unless forloop.last -%},{% endunless -%}{%- endfor -%}}{%- endcapture %}

        <noscript data-bstr-preselect="{{product.selected_or_first_available_variant.id}}" data-bstr-swatch="{{product.id}}">
          {{ vArray }}
        </noscript>

        <div class="product__swatches">
          {% assign avvars = product.variants | where: 'available', true %}
          {% for product_option in product.options_with_values %}
            {% assign product_option_lc = product_option.name | downcase %}
            {% assign index = forloop.index0 %}
            {% assign optix = 'option' | append: product_option.position %}
            {% assign selector_type = settings.defaultSelector %}
            {% if altSelector contains product_option_lc %}
              {% if settings.defaultSelector == "dropdown" %}
                {% assign selector_type = "swatch" %}
              {% else %}
                {% assign selector_type = "dropdown" %}
              {% endif %}
            {% endif %}
            <div class="flex flex-col gap-2">
              <p class="text-sm text-grigio-60">Chose your suspension style</p>
              <div class="flex justify-between gap-3">
                {% case selector_type %}
                  {% when 'dropdown' %}
                    <select data-swatch-index="{{product.id}}-{{index}}">
                      <option value="bstrSelectNill" selected>Select a {{ product_option_lc }}</option>
                      {% for value in product_option.values %}
                        {% assign vars = avvars | where: optix, value %}
                        <option
                          {% if vars.size == 0 %}
                          disabled
                          data-swatch-soldout="true"
                          {% endif %}
                          value="{{value | escape}}"
                          data-swatch-index="{{product.id}}-{{index}}">{{ value }}</option>
                      {% endfor %}
                    </select>
                  {% when 'swatch' %}
                    {% assign ix = product_option.position | minus: 1 | append: '' %}
                    {% if imageArray contains product_option_lc %}
                      {% assign useImages = true %}
                    {% else %}
                      {% assign useImages = false %}
                    {% endif %}
                    {% for value in product_option.values %}
                      {% assign vars = avvars | where: optix, value %}
                      {% if colorArray contains product_option_lc or imageArray contains product_option_lc %}
                        <span
                          id="btn-{{value| escape}}"
                          class="lazyload swatch--color swatch-btn w-full border-2 border-grigio-40 variant-btn"
                          {%- render 'swatch__custom-finder', value: value, colorImages: colorImages, useImages: useImages, ix: ix -%}
                          data-swatch-option="{{value| escape}}"
                          data-swatch-index="{{product.id}}-{{index}}"
                          {% if vars.size == 0 %}
                          data-swatch-soldout="true"
                          {% endif %}></span>
                      {% else %}
                        <span
                          id="btn-{{value| escape}}"
                          class="swatch-btn w-full border-2 border-grigio-40 variant-btn"
                          data-swatch-option="{{value| escape}}"
                          data-swatch-index="{{product.id}}-{{index}}"
                          {% if vars.size == 0 %}
                          data-swatch-soldout="true"
                          {% endif %}>{{ value | escape }}</span>
                      {% endif %}
                    {% endfor %}
                {% endcase %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}


      {% comment %} ---- {% endcomment %}

      <div class="flex items-center mb-5 justify-between gap-5 product__price--
                font__family-- font__size-- 
                " {{ block.shopify_attributes }}>
        <p class="mr-auto text-sm text-grigio-60">Price</p>
        {% if product.compare_at_price_min > 0 %}
          {% assign sale = true %}
          {% if current_variant.compare_at_price > 0 %}
            {% assign currsale = true %}
          {% else %}
            {% assign currsale = false %}
          {% endif %}
        {% else %}
          {% assign sale = false %}
          {% assign currsale = false %}
        {% endif %}

        {% unless current_variant.price >= current_variant.compare_at_price %}
          <p data-product-price-sale="{{product.id}}" class="text-sm product__price--old jsPrice">
            {% if currsale %}
              {{ current_variant.compare_at_price | money | strip_html }}{% endif %}
          </p>
        {% endunless %}

        <p data-product-price="{{product.id}}" class="{% if currsale %}{% unless current_variant.price >= current_variant.compare_at_price %}{% endunless %}{% endif %} jsPrice bg-yellow p-2 text-sm">
          {% if settings.currencyFormat == 'money_with_currency_format' %}
            {{ current_variant.price | money_with_currency | strip_html }}
          {% else %}
            {{ current_variant.price | money | strip_html }}
          {% endif %}
        </p>
        <div>
          {% if current_variant.available %}
            {% form 'product'
              , product %}
              {% render 'block__product-page--atc-custom'
                , product: product
                , form: form
                , class: ""
              %}
            {% endform %}
          {% else %}
            {% form 'product'
              , product %}
              {% render 'block__product-page--atc-custom'
                , product: false
                , form: form
                , class: ""
              %}
            {% endform %}
          {% endif %}
        </div>

      </div>

      <p>
        {% if settings.currencyFormat == 'money_with_currency_format' %}
          {{ current_variant.price | money_with_currency | strip_html }}
        {% else %}
          {{ current_variant.price | money | strip_html }}
        {% endif %}
      </p>
      <p>{{ current_variant.available }}</p>


    {% comment %} {% for product_option in product.options_with_values %}
                                {% assign optix = 'option' | append: product_option.position %}
                                {% for value in product_option.values %}
                                  {% assign vars = avvars | where: optix, value %}
                                  {% if vars.size == 0 %}
                                    {% form 'product'
                                      , product %}
                                      {% render 'block__product-page--atc-custom'
                                        , product: false
                                        , form: form
                                        , class: ""
                                      %}
                                    {% endform %}
                                  {% else %}
                                    {% form 'product'
                                      , product %}
                                      {% render 'block__product-page--atc-custom'
                                        , product: product
                                        , form: form
                                        , class: ""
                                      %}
                                    {% endform %}
                                  {% endif %}
                                {% endfor %}
                      {% endfor %} {% endcomment %}
    </div>

  </div>
</div>