<div
  href="{{product.url}}"
  class="productItem relative mt-8 mb-10 before:absolute before:-top-[20px] before:left-1/2 before:-translate-x-1/2 before:bg-opacity-0 hover:before:bg-opacity-100 before:bg-grigio-100 before:w-full before:h-0 before:-z-10 hover:before:w-[calc(100%+40px)] hover:before:h-[calc(100%+40px)] transition before:duration-500 group"
>
  <div class="flex flex-col [&>*]:uppercase [&>*]:text-2xl group-hover:text-white transition duration-200">
    <span>{{ product.metafields.custom.brand }}</span>
    <span>{{ product.metafields.custom.model }}</span>
    <span>{{ product.metafields.custom.year_of_manufacture }}</span>
  </div>

  <a href="{{product.url}}" class="w-[90%] mx-auto aspect-video flex justify-center items-center">
    <img
      class="w-full h-full object-contain"
      src="{{ product.featured_image | img_url: 'master' }}"
      alt="{{ product.title }}"
      width="100%"
      height="100%"
    >
  </a>
  <div class="flex items-center justify-between gap-5">
    {% if product.compare_at_price %}
      <p class="group-hover:text-white transition duration-700 line-through">
        {{ product.compare_at_price | money_without_trailing_zeros }}
      </p>
    {% else %}
      <p class="group-hover:text-white transition duration-700">
        {{ product.price | money_without_trailing_zeros }}
      </p>
    {% endif %}
    {% if product.compare_at_price %}
      <p class="bg-yellow p-2 mr-auto">{{ product.price | money_without_trailing_zeros }}</p>
    {% endif %}
    <button class="flex gap-2 py-2 px-3 bg-grigio-20 hover:bg-yellow buyPopupCustomButtons" data-product-id="{{ product.id }}">
      {% render 'icon-cart' %}
      <span class="text-sm uppercase font-extrabold">BUY</span>
    </button>
  </div>
</div>

