<style type="text/css">
#s--{{section.id}} {
  {% if section.settings.height > 0 %}
  height: {{section.settings.height}}px;
  {% else %}
  height: 100vh;
  {% endif %}
  overflow: hidden;
  color: {% unless section.settings.contentColor contains 'rgba(0,0,0,0)'  %}{{section.settings.contentColor}}{% else %}initial{% endunless %};
}

{% if section.settings.nomargin %}
#shopify-section-{{section.id}}{
  margin-bottom: 0px !important;
}
{% endif %}

{% case section.settings.displayFor %}
{% when 'hide-desktop' %}
@media screen and (min-width: 768px){
  #shopify-section-{{section.id}}{
    display: none !important;
  }
}
{% when 'hide-mobile' %}
@media screen and (max-width: 767px){
  #shopify-section-{{section.id}}{
    display: none !important;
  }
}
{% endcase %}

#s--{{-section.id}} .slide__animation .animate, #s--{{-section.id}} .slide__animation .animate:hover {
  animation-name: animation-{{-section.settings.animation}} !important;
}

{% if section.animation != "none" %}
#s--{{-section.id}} .slide:not(.slide__animation) > .slide__content > .animate {
  opacity: 0;
}

#s--{{-section.id}} .slide.slide__animation > .slide__content > .animate {
  opacity: 1;
}
{% endif %}

{% unless section.settings.delayAnimation %}
#s--{{-section.id}} .animate:nth-child(2) {
  animation-delay: 0.20s;
}
 
#s--{{-section.id}} .animate:nth-child(3) {
  animation-delay: 0.40s;
}

#s--{{-section.id}} .animate:nth-child(4) {
  animation-delay: 0.60s;
}
{% endunless %}
</style>

{% assign customID = section.settings.custom_id %}

<div data-bstr-section-slider="{{section.id}}" {% if section.settings.autoplay %}data-autoplay=true{% endif %} onmouseover="this.dataset.paused = -1;" onmouseout="this.dataset.paused = new Date().getTime();" 
id="s--{{section.id}}" class="{% render 'common-class', section: section, class: 'slider slider--responsive', vAlign: false %}">
{% if section.blocks.size > 1 %}
<button data-bstr-slider-button="-" class="slider__button hide-mobile" aria-label="Previous"><i class="uil uil-angle-left-b"></i></button>
<button data-bstr-slider-button="+" class="slider__button slider__button--next hide-mobile" aria-label="Next"><i class="uil uil-angle-right-b"></i></button>
{% endif %}
<div id="{{customID}}" class="slider__holder" data-bstr-slide-loop="true" data-bstr-slider-orientation="horizontal" data-bstr-slide-holder="1|1|1" data-bstr-slider-current="0"
{%if section.settings.autoplay %} data-bstr-autoplay=true {% endif %}
data-bstr-slide-speed="{{ section.settings.slideSpeed | times: 1000 }}"
>
{%- for block in section.blocks %}
<div data-bstr-slide data-type="bannerSlider" class="slide">
{% render 'get-block', block: block, first: forloop.first %}
</div>
{% endfor %}
</div>
</div>

