<div class="container">
  <div class="flex md:flex-row flex-col gap-8  mt-[60px]">
    <img
      src="{{ section.settings.imageProduct| img_url: 'original'}}"
      alt="image product"
      class="imageProduct md:w-[40%] h-auto w-full">
      <div class="h-auto w-[10%]">
        <img
        src="{{ section.settings.imageArrow| img_url: 'original'}}"
        alt="image arrow"
        class="imageArrow md:block hidden">
        <img
        src="{{ section.settings.imageArrow| img_url: 'original'}}"
        alt="image arrow"
        class="imageArrow md:hidden block rotate-90">
        </div>
    <img
      src="{{ section.settings.imageResult| img_url: 'original'}}"
      alt="image result"
      class="imageResult md:w-[40%] h-auto w-full">
  </div>
  <div class="flex md:flex-row flex-col gap-8 container mt-[20px]">
    <div class="flex flex-col justify-center items-center gap-4">
      <h1>{{ section.settings.text_1 }}</h1>
      <p>{{ section.settings.text_2 }}</p>
    </div>
    <a href="{{ section.settings.url}}">
      <button>Try it!</button>
    </a>
  </div>
</div>

{% schema %}
  {
    "name": "image-image-custom",
    "settings": [
      {
        "type": "text",
        "id": "text_1",
        "label": "Text 1"
      },
      {
        "type": "text",
        "id": "text_2",
        "label": "Text 2"
      },
      {
        "type": "image_picker",
        "id": "imageProduct",
        "label": "Image Product"
      },
      {
        "type": "image_picker",
        "id": "imageArrow",
        "label": "Image Arrow"
      }, {
        "type": "image_picker",
        "id": "imageResult",
        "label": "Image Result"
      }, {
        "type": "url",
        "id": "linkBtn",
        "label": "Btn URL"
      }, {
        "type": "range",
        "id": "padding_top",
        "label": "Padding Top",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 20
      }, {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding Bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 20
      }
    ],
    "presets": [
      {
        "name": "Image + Image Custom"
      }
    ]
  }
{% endschema %}